.DS_Store
.build/
.index-build/
.swiftpm/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
.env
.env.*
.env/*
compiled.pkl
/compiled.pkl
**/compiled.pkl
